.sideImage {
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.inImage {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.inImage2 {
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

/* .dropdown-submenu {
    position: relative;
}

.dropdown-submenu > a.dropdown-item:after {
    font-family: FontAwesome;
    content: "\f054";
    float: right;
}

.dropdown-submenu > a.dropdown-item:after {
    content: ">";
    float: right;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
} */
.hover-scale {
    transition: all .2s ease-in-out;
}
.hover-scale:hover {
    transform: scale(1.05);
    z-index: 30;
}
