@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    width: 100px;
    height: 100px;
    background-color: var(--bs-blue);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.hover-scale {
    transition: all .2s ease-in-out;
}

.hover-scale:hover {
    transform: scale(1.05);
    z-index: 30;
}

.star-xl {
    height: 70px;
    width: 50px;
}

.star-md {
    height: 50px;
    width: 30px;
}

.fw-bold {
    font-weight: bold;
}

.label-indic {
    text-transform: lowercase;
    font-style: italic;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: start;
    text-align: center;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #000;
    background-clip: text;
    cursor: pointer;
}

.star-rating :checked~label {
    color: var(--bs-orange);
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: var(--bs-orange);
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}
.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.text-sm{
    font-size: 14px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
